FriendlySMP/bluemap
FriendlySMP/cache
FriendlySMP/libraries
FriendlySMP/logs
FriendlySMP/versions
FriendlySMP/plugins/AxVaults/lib
FriendlySMP/plugins/AxVaults/libs
FriendlySMP/plugins/bStats
FriendlySMP/plugins/spark/
FriendlySMP/panel/daemon/node_modules
FriendlySMP/panel/web/node_modules
FriendlySMP/panel/daemon/logs
FriendlySMP/panel/web/logs
playit.log
tailscaled.log
sync.log

.cache
.cloudshell
.codeoss
.config
.docker
.docker
.local
.npm
.vscode
.bash_history
.lesshst
.profile
.selected_editor
.sudo_as_admin_successful
.wget-hsts
README-cloudshell.txt

git_pat.txt
